<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>Edit File: <%= filename %></h2>
<form action="/update/<%= filename %>" method="POST">
    <label>Title:</label>
    <input type="text" name="newtittle" value="<%= filename %>" required/>
    <br><br>
    <label>Content:</label>
    <input name="newdetail" rows="10"  cols="50" value="<%= filedata %>" required>
    <br>
    <button type="submit">Save Changes</button>
</form>

</body>
</html>