<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form with Data Box Skeleton</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <div class="container">
        <!-- Form -->
        <form action="/post" method="post">
            <input type="text" placeholder="Title" name="title">
            <textarea rows="3" placeholder="Detail" name="detail"></textarea>
            <button type="submit">Submit</button>
        </form>

        <!-- Data box skeletons -->
        <% if (files.length > 0) { %>
            <% files.forEach(function(val) { %>
                <h2><%= val %></h2>
                <a href="/read/<%= val %>">readmore</a>
                <a href="/delete/<%= val %>">delte</a>
                 <a href="/edit/<%= val %>">edit</a>
            <% }) %>
        <% } else { %>
            <h3>No files found yet!</h3>
        <% } %>

    </div>
</body>

</html>
